.fira-sans-regular{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}



/* nav styles */
nav{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div h5{
color: #474747;
}

/* header styles */

body{
    background-color: #f1f1f1;
}

header{}

.ban-items{
    border-radius: 20px;
    margin: 50px;
    margin-top: 20px;
    background-color: #C6E4D6;
    padding: 80px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn1{
    border-radius: 5px;
    border-color: #006A50;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px;
}

.btn{
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #006A50;
    border-style: none;
    border-radius: 5px;
    padding: 15px 20px;
}

h5{
    font-size: larger;
    margin-bottom: 2px;
}
h1{
    font-size: 30px;
    font-weight: 800px;
    margin-top: 5px;
}

.memorial{
    width: 250px;
}

.card-icons{
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.cards{
    background-color: white;
    margin: 5px;
    padding: 30px;
    border-radius: 8px;
}

.sec-title{
    margin: 0 40px;
}

.second-sec{
    display: flex;
    margin: 0 40px;
}

.sec-size{
    background-color: white;
    margin: 5px;
    padding: 30px;
    border-radius: 8px;
}

.quote{
    background-color: white;
    margin: 0 40px;
    padding: 30px;
    border-radius: 8px;
}